body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    direction:ltr;
}
h1
{
    text-align: center;
    font-size: 25pt;
    color: white;
}
h2
{
    text-align: center;
    font-size: 16pt;
    color: cyan
}
h3
{
    text-align: justify;
    font-size: 14pt;
    color: black
}
p
{
    text-align: left;
    font-size: 9pt;
    color: white;
}
button.facebook {
    float: left;
}
button.twitter {
    float: left;
}
button.github {
    float: left;
}
button.bball {
    float: left;
}
ol 
{
    list-style: square;
}
div.column {
    height: 120%;
    width: 25%;
}
div.footer
{
    background-color: darkslategrey
}
.allo
{
    display: inline-flex;
}